body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.hidden {
  display: none;
}

.mr-project-grid-item-image {
  position: absolute;
}

.mr-project-grid-item-text-truncation {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mr-project-grid-item-title {
  position: relative;
  width: calc(100% - 2 * 10px);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  color: white;
}

.mr-project-grid-item-subtitle {
  position: relative;
  width: calc(100% - 2 * 10px);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: pink;
}

.mr-project-grid-item-info-slider {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top:10px;
  bottom: -80%;
  background-color: gray;
  opacity: 0.9;
}
.mr-project-grid-item-info-slider.hovered {
  bottom: 0px;
}

.mr-project-grid-item {
  width: 300px;
  height: 300px;
  cursor: pointer;
  margin-left: 7px !important;
  margin-right: 7px !important;
  margin-bottom: 14px !important;
  border-top: 4px solid lightgrey;
  overflow: hidden;
}
