// Imports
@import "bourbon/bourbon";

// Variables
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$xsmall-font-size: 14px;
$small-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 20px;
$xlarge-font-size: 22px;

$primary-title-color: pink;
$secondary-title-color: white;

$light-border-color: lightgray;

$mr-project-grid-item-height: 300px;
$mr-project-grid-item-width: 300px;
$mr-project-grid-item-text-padding: 10px;
$mr-project-grid-item-margin: 7px;
$mr-project-grid-item-background-color: gray;

// Transitions
$mr-project-grid-transition: all .5s cubic-bezier(0, 1, 0.5, 1);

// Transform
$mr-project-grid-item-info-slider-transform-slide-down: translateY(75%);
$mr-project-grid-item-info-slider-transform-slide-up: translateY(0%);

// Styles
body {
  font-family: $font-family;
  font-size: $xsmall-font-size;
}

.mr-project-grid-item-image {
  position: absolute;
}

.mr-project-grid-item-text-truncation {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mr-project-grid-item-title {
  position: relative;
  padding-left: $mr-project-grid-item-text-padding;
  padding-right: $mr-project-grid-item-text-padding;
  font-size: $medium-font-size;
  color: $primary-title-color;
}

.mr-project-grid-item-subtitle {
  position: relative;
  padding-left: $mr-project-grid-item-text-padding;
  padding-right: $mr-project-grid-item-text-padding;
  font-size: $small-font-size;
  color: $secondary-title-color;
}

.mr-project-grid-item-info-slider {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: $mr-project-grid-item-background-color;
  opacity: 0.9;
  @include transition($mr-project-grid-transition);
  @include transform($mr-project-grid-item-info-slider-transform-slide-down);
}

.mr-project-grid-item-info-slider.hovered {
  @include transform($mr-project-grid-item-info-slider-transform-slide-up);
}

.mr-project-grid-item {
  width: $mr-project-grid-item-width;
  height: $mr-project-grid-item-height;
  margin-left: $mr-project-grid-item-margin;
  margin-right: $mr-project-grid-item-margin;
  margin-bottom: 2 * $mr-project-grid-item-margin;
  border-top: 4px solid $light-border-color;
  cursor: pointer;
  overflow: hidden;
}
