$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


$primary-title-color: pink;
$small-font-size: 16px;

$secondary-title-color: white;
$medium-font-size: 18px;

$mr-project-grid-item-text-padding: 10px;


body {
  font-family: $font-family;
  font-size: 14px;
}

.hidden {
  display: none;
}

.mr-project-grid-item-image {
  position: absolute;
}

.mr-project-grid-item-text-truncation {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mr-project-grid-item-title {
  position: relative;
  width: calc(100% - 2 * 10px);
  padding-left: $mr-project-grid-item-text-padding;
  padding-right: $mr-project-grid-item-text-padding;
  font-size: $medium-font-size;
  color: $primary-title-color;
}

.mr-project-grid-item-subtitle {
  position: relative;
  width: calc(100% - 2 * 10px);
  padding-left: $mr-project-grid-item-text-padding;
  padding-right: $mr-project-grid-item-text-padding;
  font-size: $small-font-size;
  color: $secondary-title-color;
}

.mr-project-grid-item-info-slider {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top:10px;
  background-color: gray;
  opacity: 0.9;
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(75%);
  -moz-transform: translateY(75%); /* Mozilla */
  -ms-transform: translateY(75%); /* IE 9 */
  -webkit-transform: translateY(75%); /* Chrome, Safari, Opera */
}

.mr-project-grid-item-info-slider.hovered {
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
  -moz-transform: translateY(0); /* Mozilla */
  -ms-transform: translateY(0); /* IE 9 */
  -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
}

.mr-project-grid-item {
  width: 300px;
  height: 300px;
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 14px;
  border-top: 4px solid lightgrey;
  overflow: hidden;
}
